<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap/bootstrap.css}"></link>
      <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}"></link>
      <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.min.css}"></link>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<title>Listagem de Usuários</title>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar navbar-dark bg-dark">
   <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/usuario/login">login</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/usuario/novo">Cadastrar</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/usuario/list">Listar</a>
       </li>
     </ul>
     <ul class="navbar-nav nav-flex-icons">
       <li class="nav-item">
         <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
       </li>



       
       <li class="nav-item">
         <a class="nav-link"><i class="fab fa-twitter"></i></a>
       </li>
       <li class="nav-item">
         <a class="nav-link"><i class="fab fa-instagram"></i></a>
       </li>
     </ul>
   </div>
 </nav>
</head>
<body>

   <div>
      <h1>Lista de Usuários</h1>
   </div>
   

    <div id="lista_usuarios" class="container">
       
       <form class="form-inline" method="GET">
          <div class="col-sm-12">
             <div class="form-group">
                <label class="control-label col-sm-1">Nome:</label>
                <input type="text"
                	   class="form-control col-sm-9"
                	   id="nome"
                	   name="id"
                	   placeholder="Digite um nome para pesquisar"/>
                <div class="col-sm-2">
                   <button type="submit" 
                           class="btn btn-primary">Pesquisar
                           <i class="fa fa-search-plus"></i>
                   </button>
                </div>  	   
             </div>
          </div>
       </form>
       <br>
    </div> 
   <div id="tabela_usuario" class="container">
       <table class="table table-stripped table-bordered table-hover">
          <thead>
             <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>E-mail</th>
                  <th>Ações</th>         
             </tr>
          </thead>
          <tbody>
             <tr th:each="usuario :${listaUsuario}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.cpf}"></td>
                <td th:text="${usuario.email}"></td>
                <td>
                   <a class="btn btn-info btn-sm" 
                      th:href="@{alterar/{id}(id=${usuario.id})}"><i class="fa fa-camera-retro"></i></a>
                   <a class="btn btn-danger btn-sm" 
                      th:href="@{excluir/{id}(id=${usuario.id})}"><i class="fa fa-trash"></i></a>
                </td>
             </tr>
          </tbody>
       </table>
       <a class="btn btn-success btn-sm" 
          th:href="@{novo}">Incluir
          <i class="fa fa-plus-circle"></i>
       </a> 
    </div>
	<script type="text/javascript" 
            th:src="@{/js/jquery/jquery.js}"></script>
    <script type="text/javascript" 
            th:src="@{/js/bootstrap/bootstrap.js}"></script>
</body>
</html>



