<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
      
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>FF </title>

    
    

    
  </head>
   
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
   <div class="container">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="cadastrarPessoa">Cadastro</a>
    <a class="navbar-brand" href="login">Login</a>
    <a class="navbar-brand" href="sobre">Sobre</a>
  </div>
  
  </nav>
    <center><h1>Hello, world!</h1></center>

    <div class="shadow p-3 mb-5 bg-white rounded">Sombra média</div>
    <div class="d-inline p-2 bg-primary text-white">d-inline</div>
    <input type="text" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00">
    <span class="border border-secondary"><h2>Bem-vindo ao meu site!</h2></span>
    <input type="text" class="form-control" placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000" maxlength="10" autocomplete="off">
    <h2>Bem-vindo ao meu site!</h2>
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
  
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Fully Responsive Design</h2>
            <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Updated For Bootstrap 4</h2>
            <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Easy to Use &amp; Customize</h2>
            <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
          </div>
        </div>
      </div>
    </section>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Fully Responsive</h3>
              <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Bootstrap 4 Ready</h3>
              <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <h2>Bem-vindo ao meu site!</h2>
    <span class="border border-primary"><h2>Bem-vindo ao meu site!</h2></span>
    <div class="container">
    <form role="form">
    	<fieldset>
    		<div class="row">
    			<div class="form-group col-lg-4">
    				<label for="exampleInputEmail1">Campo simples</label>
    				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insira seu texto aqui">
    			</div>
    			<div class="form-group col-lg-8">
    				<label for="exampleInputEmail1">Campo simples</label>
    				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insira seu texto aqui">
    			</div>
    		</div>
    		<div class="row">
    			<div class="form-group col-lg-6">
    				<label for="exampleInputEmail1">Seletor</label>
    				<select class="form-control">
    					<option value="">Selecione algo</option>
    					<option value="">Opção 1</option>
    					<option value="">Opção 2</option>
    				</select>
    			</div>
    			<div class="form-group col-lg-6">
    				<label for="exampleInputEmail1">Seletor</label>
    				<select class="form-control">
    					<option value="">Selecione algo</option>
    					<option value="">Opção 1</option>
    					<option value="">Opção 2</option>
    				</select>
    			</div>
    		</div>
    		<div class="row">
    			<div class="form-group col-lg-3">
    				<label for="exampleInputEmail1">Senha</label>
    				<input type="password" class="form-control" id="exampleInputEmail1" placeholder="senha">
    			</div>
    			<div class="form-group col-lg-6">
    				<label for="exampleInputEmail1">Email</label>
    				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Insira seu emai aqui">
    			</div>
    			<div class="form-group col-lg-3">
    				<label for="exampleInputEmail1">Data</label>
    				<input type="date" class="form-control" id="exampleInputEmail1" placeholder="Insira seu emai aqui">
    			</div>
        </div>
        
        
    		<div class="box-actions">
    			<button type="submit" class="btn btn-primary">Enviar</button>
    			<button class="btn btn-danger">Cancelar</button>
    		</div>
     
    	</fieldset>
    </form>
  </div>
    <span class="border">

    </span>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
  </body>
</html>