<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thmeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
      
        <title>LUCAS GORDAO</title>
      
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- IMPORTAÇÃO DO CSS   -->
            <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"></link>
            <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}"></link>
            <!-- IMPORTAÇÃO DO JAVASCRIPT -->
            <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.js}"></script>
        
           
      </head>
    
<body>
    
            
      
    <div class="container">
        <form class="form-inline" method="GET">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="nome" class="control-label col-sm-1">Nome:</label>
                    <input type="text" class="form-control col-sm-8" name="nome"
                        id="nome" 
                        placeholder="Digite o nome da pessoa para pesquisa." />
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary">
                            Pesquisar<i class="fa fa-search-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
         </form>
        <table class="table table-bordered">
            <thead>
              <tr th:each="usuario :${listaUsuario}">
                <th th:text= "${usuario.id}">">ID</th>
                <th th:text= "${usuario.nome}">Nome</th>
                <th th:text= "${usuario.email}">Email</th>
                <th scope="col">Acao</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">Danger</button>
                    <button type="button" class="btn btn-info btn-sm">Danger</button>
                </td>
              </tr>
               <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">Danger</button>
                    <button type="button" class="btn btn-info btn-sm">Danger</button>
                </td>
              </tr>
              
                
            
            </tbody>
          </table>
    </div>
</body>
	<script src="/teste/vendor/jquery/jquery.min.js"></script>
	<script src="/teste/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>